/*
Theme Name: Enfold Child
Description: A <a href='http://codex.wordpress.org/Child_Themes'>Child Theme</a> for the Enfold Wordpress Theme. If you plan to do a lot of file modifications we recommend to use this Theme instead of the original Theme. Updating wil be much easier then.
Version: 1.0
Author: Kriesi
Author URI: http://www.kriesi.at
Template: enfold
*/



/*Add your own styles here:*/

.home .dropcap1 {
	font-size: 57px;
	line-height: 50px;
}
.home #breadcrumbs {
	display: none;
}

.home .avia_start_delayed_animation {
	background-color:#fff;
}

span.homeblack {
	border-radius: 2px;
	float: left;
	font-size: 18px;
	font-style: normal;
	margin: 4px 10px 2px 0;
	padding: 6px 10px 6px 11px;
	color:#fff;
	font-size:24px;
	background-color:rgba(65, 60, 72, 0.9);
	/* Correction to SSD-DK blue: */ background-color:rgba(30, 129, 175, 1);
}

div#fullwidthcontainer div.container {
    max-width:none;
    width:100%;
}

.image-overlay {
visibility: hidden;
 }

/*  ---  FORMATTING  ---  */

.x-sp {
	width: 100%;
	height: 1.2em;
	display: block;
}
.block-c {
	display: block;
	margin: auto;
}
.m-1 {
	margin: 1em;
}
.m-2 {
	margin: 2em;
}
.w-66 {
	width: 66%;
}
.w-78 {
	width: 78%;
	margin: auto;
}
.w-85 {
	width: 85%;
}
.w-95 {
	width: 95%;
}


/*  ---  COLORS  --  */


.ssd-blue {
	background: #4CC3EF;
}
.bg-ssd-blue {
	background: #1e81af;
	/*background: #4CC3EF;*/
}
.ssd-dark-grey {
	background: #413c48;
}
.bg-grad-ssd-blue {
	background: #1e81af;
	background: -moz-linear-gradient(45deg, #1e81af 0%, #4cc3ef 100%);
	background: -webkit-linear-gradient(45deg, #1e81af 0%,#4cc3ef 100%);
	background: linear-gradient(45deg, #1e81af 0%,#4cc3ef 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e81af', endColorstr='#4cc3ef',GradientType=1 );
}

/* --- BRANDING --- */
.brandsquares {
	padding:20px;
	width:300px;
	height:300px;
}
.brandsquares p, .brandsquares h3, .brandsquares strong {
	color:#fff;
	text-align:center;
	margin:0;
	padding:0;
	font-size:1.2em;
}


/*  ---  TYPOGRAPHY  ---  */


.dropcap3 { 
	background: #413c48;
}
.txt-c {
	text-align: center
}
.txt-lg {
	font-size: 21px;
}
.txt-blue {
	color: #4CC3EF;
}
.txt-ssd-blue {
	color: #4CC3EF;
}
.txt-ssd-dkblue {
	color: #1e81af;
}
.txt-white {
	color: #FFFFFF;
}
.txt-dkgrey {
	color: #413c48;
}


.blue-box {
    background: #4CC3EF;
    padding: 1.2em 2em 3em 2.5em;
    color: #FFF !important;
    text-size: 130%;
}
.dark-box {
    background: #413c48;
    padding: 1.2em 2em 3em 2.5em;
    color: #FFF !important;
    text-size: 130%; 
}
.headline {
    text-align: center; 
    color: #4CC3EF;
    text-transform: uppercase;
}
.subhead-bl {
    color: #1e81af; 
    border-bottom: 2px #413c48 solid;
    text-size: 150%; 
}

.main_color.iconbox_top .iconbox_icon {
	background: #1e81af;
	background: -moz-linear-gradient(45deg, #1e81af 0%, #4cc3ef 100%);
	background: -webkit-linear-gradient(45deg, #1e81af 0%,#4cc3ef 100%);
	background: linear-gradient(45deg, #1e81af 0%,#4cc3ef 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e81af', endColorstr='#4cc3ef',GradientType=1 );
	border: solid 7px #f8f8f8;
}
a.more-link {
	background-color: #413c48 !important;
	display: block;
	margin: 25px auto -10px auto;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #FFF !important;
	text-decoration: none;
}

.border-ssd-blue {
    border: solid 3px #4CC3EF;
    background: #4CC3EF;
} 
.border-ssd-blue img {
    border: solid 3px #4CC3EF;
}


iframe body {
	background-color: none !important;
}
.page-id-1203 .inner-page-wrap {
	margin-top: 0px !important;
}
.ai1ec-calendar-toolbar {
	display: none;
}
.timely.ai1ec-single-event, .block {
	padding: 12px;
	background-color: #fbfbfb;
	background-color: rgba(245, 245, 245, 0.9);
	margin-top: 5px;
	border: 3px solid #42c4f1;
}
.block {
	padding: 12px 7px 20px 20px;
	background-color: #fbfbfb;
	background-color: rgba(245, 245, 245, 0.9);
	margin-top: 5px;
	margin-bottom: 5px;
	border: 3px solid #42c4f1;
}
.excerpt .timely {
	padding: 7px 2px 10px 12px;
	background-color: none;
	margin-top: 0px;
	border: none;
}
footer.timely {
	display: none;
	border: none;
}
.type-ai1ec_event img {
	/*width: 700px !important;*/
	display: block;
	margin: auto;
	border-bottom: #413c48;
}
.ai1ec-load-event img {
	padding: 0;
	border: none;
}
.ai1ec-agenda-widget-view .ai1ec-date.ai1ec-today, .ai1ec-agenda-view .ai1ec-date.ai1ec-today {
	background: none !important;
}
#logo {
	max-width: 242px !important;
	max-height: 80px !important;
	margin-top: 15px;
}
.content-box {
	border: solid 3px #000;
	background: #f7f7f7;
	background-color: #f7f7f7;
	background: rgba(235, 235, 235, 0.9);
	background-color: rgba(235, 235, 235, 0.9);
	border-radius: 2px;
	padding: 15px 30px 25px 30px;
	margin-right: 3%;
	margin-left: 3%;
	width: 94%;
	overflow: visible;
}
.social-box a {
	color: #FFF;	
	text-decoration: none;
}
.social-box a:hover {
	text-shadow: 2px 2px #ff0000;
	color: #DDD;	
	text-decoration: none !important;
}
.blog-item h6, .post-item-details, .post-date, .comments-likes, .directory-results, #field_2_10 {
	display: none !important;
}
.details-wrap {
	15px 30px 40px !important;
}
article.type-post.single-post-standard .content-wrap, article.type-post.single-post-standard-above .content-wrap {
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.9);
	padding: 15px;
}
.spb_row_container .spb_tweets_slider_widget .spb-bg-color-wrap, .spb_tweets_slider_widget .spb-bg-color-wrap {
	background: #4CC3EF !important;
}
.spb_tweets_slider_widget .tweet-text a {
	color: #b4e8fa !important;
}
.wdpu-1281 .wdpu-text {
    padding: 20px 20px 24px !important;
    background: #F2F2F2;
    position: relative;
    z-index: 10;
    height: 100%;
}
.page-heading {
	/*background-color: rgba(255, 255, 255, 0.9);*/
	background: url('https://startupsd.org/wp-content/uploads/2015/10/Creators-ink-Pinstripes-Dark-Vertical.png') repeat-x;
}
.sf-promo-bar a {
	text-decoration: none;
}
.sf-promo-bar a:hover {
	background: #48c3f0 !important;
}
.vc_btn-juicy_pink, a.vc_btn-juicy_pink, button.vc_btn-juicy_pink {
	background-color: #48c3f0 !important;
	display: block;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
.vc_gitem_row .vc_gitem-col {
	box-sizing: border-box;
	padding: 20px;
	padding-bottom: 0px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}
.vidbg-container {
	top: 0 !important;
}
/*.wpb_btn-primary {
	background-color: #48c3f0 !important;
}*/
.wpb_btn-primary:hover {
	background-color: #1a92bb !important;
}
button.wpb_btn-large, span.wpb_btn-large {
	padding: 12px 17px;
	font-size: 20px;
	line-height: normal;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.btn-blue {
	font-weight: bold;
    font-size: 20px;
    color: #ffffff;
    border-style: solid;
    border-width: 5px !important;
    border-color: #3ba0c5 !important;
    border-radius: 1px !important;
    padding: 14px !important;
    background: #4cc3ef !important;
    box-shadow: none !important;
}
.dropcap1 {
	line-height: 40px;
}


.wpb_posts_slider .flex-caption, .wpb_posts_slider .nivo-caption {
	background-color: #f2f2f2;
	opacity: 1;
	color: inherit;
	padding: 10px 15px 25px 15px;
	position: static;
}
.page-light {
	background: #fdfdfd;
	padding: 15px;
}
/*.widget ul {
	background: #fdfdfd;
	padding: 15px;
}*/
.widget li {
	padding: 3px 10px 3px 10px;
}
.widget li:hover {
	background: #f2f2f2;
}

/* Remove bullets from Nav */

ul.sub-menu li {
}

/*   ---   FORMS   ---   */
 

.main-form label {
    display: block;
    margin: 1em auto 0.5em auto;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    color: #
}
form li {
    list-style-type: none;
    margin: 0 10px 0 10px;
    display: inline-block;
    width: 97%;
}
input#formSubmit {
	display: block;
	margin: auto;
}


/**************************************************
	STARTUPS PAGE
**************************************************/
.list-blocks img {
	max-height: 100%;
	max-width: 100%;
}

.list-blocks li {
	border-top: 1px solid #d6d6d6;
	margin: 0;
	padding: 40px 0;
}

.list-blocks li:first-child {
	border-top: none;
	padding-top: 0;
}

.list-blocks h3 {
	margin-bottom: 30px;
}

.list-table-header {
	background: #202020;
	color: #ffffff;
	font-weight: bold;
	height: 45px;
	line-height: 45px;
}

.list-table-header .columns:first-child span {
	padding-left: 20px;
}

.list-table {
	background: #e0e0e0;
	margin-bottom: 75px;
}

.list-table li {
	margin: 0;
}

.list-table li.odd {
	background: #f6f6f6;
}

.list-table .clearfix:first-child {
	cursor: pointer;
}

.list-table .clearfix:first-child p {
	line-height: 45px;
	margin: 0;
}

.list-table .clearfix:first-child .columns:first-child {
	position: relative;
}

.list-table .clearfix:first-child .columns:first-child p {
	padding-left: 20px;
}

.list-table .ss-icon {
	font-size: 10px;
}

.list-table .star {
	color: #ffc20e;
	display: none;
	left: 4px;
	position: absolute;
	top: 13px;
}

.list-table .star.featured {
	display: block;
}

.list-table .arrow {
	color: #aeaeae;
	line-height: 45px;
}

.list-table .button-details {
	font-weight: bold;
	line-height: 52px;
	position: absolute;
	right: 0;
	top: 0;
}

.list-table .open,
.list-table .active .close {
	display: none;
}

.list-table .active .open {
	display: block;
}

.list-table .ellipsis {
	padding-right: 20px;
}

.list-table img {
	display: block;
	height: auto;
	max-width: 186px;
	margin: 0 auto;
}

.list-table .details {
	display: none;
	padding: 30px 0 50px;
}


/**************************************************
	RESOURCES PAGE
**************************************************/
.h1 + .list-blocks {
	margin-top: 50px;
}

[data-plugin="list-resources"] h3 span {
	color: #9a9a9a;
}

/**************************************************
	PROGRAMS PAGE
**************************************************/
.list-mentors li {
	margin-bottom: 0;
}

.list-mentors .info {
	border-top: 1px solid #d6d6d6;
	min-height: 65px;
	padding: 10px 0;
}

.list-mentors li:first-child .info,
.list-mentors li:first-child + li .info {
	border-top: none;
}

.list-mentors h3,
.list-mentors p {
	margin: 0;
}

.list-mentors a {
	background: #202020;
	border-radius: 50%;
	color: #fff;
	display: block;
	font-size: 20px;
	height: 42px;
	line-height: 42px;
	text-align: center;
	width: 42px;
}
.list-mentors a:hover {
	background: #ef4023;
}

.list-mentors ul.list-inline > li {
	margin-top: 5px;
}

/*li {
	list-style-type: square;
	margin: 0 0 0 40px;
}
*/

/* Resources Page */
.resources .ui-accordion-header-active.ui-state-active.ui-corner-top a:hover,
.resources .ui-accordion-header-active.ui-state-active.ui-corner-top a:focus {
	color:#fff!important;
}

/* Greenrope form */
#formContainer {
	width: 100%;
}

div#formContainer li.formRow {
	list-style-type: none;
	text-align: left;
	font-size: 15px;
	width: 90%;
}
.req, .reqMarker {
	font-weight: bold;
	color: #d98e17 !important;
}

div#sidebargreenrope td,
div#sidebargreenrope table,
div#sidebargreenrope tr {
	width:100%!important;
	background-color:#fff!important;
	padding:0!important;
	border:none;
}
	

/* Startup Crawl 2015 Page */
.bg-black {
	background-color: #202020;
	color: #ffffff;
}
.txt-sm {
	font-size: 80%;
}
